@import "unitExample"
@import "global"

#app
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    font-family: 'Gotham Pro'
.search
    display: block
    width: 100%
    border: 1px solid #26294C
    padding: 11px 12px
    border-radius: unit(6)
    &__ico
        margin-right: 8px

    &__input
        background-color: transparent
        outline: none
        border: none